
#authNoDisplay {
  display: none;
}

.navbar {
    .margin > a {
        margin-right: 20px;
    }
}

.tox-statusbar__text-container, .tox-notifications-container {
  display: none!important;
}

.right {
  float: right;
  margin-top: 10px;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #f5f5f5;
}

.pointer {
  cursor: pointer;
}

.sign {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  input {
    margin-bottom: 5px!important;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.nopading {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.comment {
  border: 2px solid #e1e1e8;
  border-radius: 4px 4px 4px 4px;
}

.comment .header {
  background-color: #e1e1e8;
}

.comment .padding {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.padding-btn {
  padding: 5px!important;
}

.input-text {
  width: 100%;
}

.message-padding {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.input-padding {
  padding-top: 10px;
}

.item-padding {
  padding-bottom: 15px;
}

// Bootstrap
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}